# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environments
venv/
.env/
.env
.env.*
pip-wheel-metadata/

# Django
db.sqlite3
staticfiles/
media/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp

# Node / Frontend (future)
node_modules/
dist/
build/
